<div class="low">
  <% if @model == 'book' %>
  <div class="search_title">'<%= @content %>'での検索結果</div>
    <div class="top_paginate"><%= page_entries_info @records %></div>
    <%= render 'books/search', books: @records %>
  <% end %>
</div>

<h1>Searches#search</h1>
<p>Find me in app/views/searches/search.html.erb</p>
