<h1>Users#index</h1>

  <% @users.each do |u| %>
    <%= attachment_image_tag(u, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
    <%= u.name %>
  <% end %>
<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
