<div class="low">
  <div class="col-xs-12">
  <div class="user_index_name">ユーザー一覧</div>
  <% @users.each do |u| %>
      <div class="col-xs-3">
        <%= link_to user_path(u.id) do %>
        <table>
            <th><%= attachment_image_tag(u, :image, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg", size:'150x150') %></th>
          <tbody>
            <td class="name"><%= u.name %></td>
          </tbody>
        </table>
        <% end %>
      </div>
  <% end %>
  </div>
  <div class="col-xs-9 col-xs-offset-1">
  <div class ="paginate">
    <%= paginate @users, theme: 'custom_theme' %>
  </div>
  </div>
</div>

