<div class=" container">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'users/info', user: @user %>
      <% if @user == current_user %>
      <%= link_to "edit", edit_user_path(@user) %>
      <% end %>
    </div>
    <div class="col-xs-9">
      <table class="table table-hover table-inverse">
        <thead>
          <tr class="success">
            <th>本のタイトル</th>
            <th>著者名</th>
            <th>レビュー</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |b| %>
          <tr>
            <td><%= b.user.name %></td>
            <td><%= b.author.name%></td>
            <td><%# b.review.title %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <h1>Users#show</h1>
    <p>Find me in app/views/users/show.html.erb</p>
  </div>
</div>