<div class="container">
  <div class="low">
    <h4>本のタイトル</h4>
    <%= @book.name %>
    <h4>著者名</h4>
    <%= @book.author.name %>
  </div>
</div>

<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>
