<div class="low">

  <p class="about-title">当サイトについて</p>

  <p class="about-text">当サイトはまだあなたが知らない本に出会うために創られました</p>
  <p class="about-text">Book-Bridgeの名前は、「本の架け橋」を英語にして変換して付けています</p><br>

  <p class="about-text">今このページを見ている貴方は、新しい本に出会いたいと思ってるのではないでしょうか</p>
  <p class="about-text">または、本の魅力を伝えたいと思っている方ではあると思います。</p>
  <p class="about-text">この文章を書いている私も、そう思っていた読者の1人です</p>
  <p class="about-text">本を好む人が集まり、調べて共有する場所があれば良いと思い、このサイトを立ち上げました。</p>
  <p class="about-text">本が大好きな貴方と、そんな貴方との出逢いを待っている本との架け橋になれば良いと願っています。</p><br>

  <p class="about-title">本サイトの使用方法は以下の通りです</p>
  <p class="about-text">1.自分の好きな本のレビューを投稿して共有する</p>
  <p class="about-text">2.検索機能を使用して、様々な本に出会う事</p>

  <%= link_to "Topページへ",root_path %>

</div>