/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

header {
  color: black;
  background: image-url('book_image5.jpg');
  padding-bottom: 10px;
}

header .navbar-left span {
  font-size: 35px;
  font-family: cursive;
  padding-top: 10px;
}　　

footer .navbar-right{
  font-size: 15px;
  font-family: serif;
}

.guest {
  margin-top: 18px;
}

.search {
  margin-top: 10px;
  text-align: center;
  font-family: serif;
}

/* ---------------------------- */
/* --- ハンバーガーアイコン --- */
/* ---------------------------- */


#hm-icon{
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #0000FF;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  -webkit-animation: active-menu-bar02 .8s forwards;
  animation: active-menu-bar02 .8s forwards;
}
@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar02 {
  100% {
    height: 0;
  }
}
.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}


/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */


#sp-menu {
  font-size: 35px;
  position: fixed;
  top: 0;
  text-align: center;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
  font-family: serif;
}

#sp-menu .menu{
  text-align: center;
  margin-bottom: 30px;
}

#sp-menu a{
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: serif;
  text-align: center;
  margin-bottom: 30px;
}

#sp-menu .search{
  font-size: 15px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: serif;
}

#sp-menu .search .tag{
  font-size: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: serif;
}