// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book_new {
  font-size: 15px;
  font-family: serif;
}

.book_index_title {
  font-size: 25px;
  font-family: serif;
}

.book_index {
  font-size: 15px;
  font-family: serif;
}

.book_show_title {
  font-size: 25px;
  font-family: serif;
}

.book_show {
  font-size: 15px;
  font-family: serif;
}
