// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.low {
  padding-top: 50px;
}

.book_write {
  font-size: 20px;
  font-family: serif;
}

.book_new {
  font-size: 15px;
  font-family: serif;
}

.book_index_title {
  font-size: 25px;
  font-family: serif;
}

.book_index {
  font-size: 15px;
  font-family: serif;
}

.book_show_title {
  font-size: 25px;
  font-family: serif;
}

.book_show {
  font-size: 15px;
  font-family: serif;
}

.review_new {
  font-size: 20px;
  font-family: serif;
}

.top_paginate {
  font-size: 15px;
  font-family: serif;
}

.paginate {
  font-size: 15px;
  font-family: serif;
  text-align: center;
}

div.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}
