// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.low {
  margin-top: 40px;
}

.about-title {
  font-size: 30px;
  font-family: serif;
}

.about-text {
  font-size: 20px;
  font-family: serif;
}
.about-alert {
  font-size: 15px;
  font-family: serif;
  color: red;
}

.top_title {
  font-size: 35px;
  font-family: cursive;
}

.top_text{
  font-size: 20px;
  font-family: serif;
}