// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.low {
  margin-top: 60px;
}

.review {
  font-size: 15px;
  font-family: serif;
}

.review_edit {
  font-size: 25px;
  font-family: serif;
}

.review_show {
  font-size: 15px;
  font-family: serif;
}

.review_title {
  font-size: 25px;
  font-family: serif;
}