// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.low {
  padding-top: 50px;
}


.mypage {
  font-size: 25px;
  font-family: serif;
}

.user {
  font-size: 20px;
  font-family: serif;
}

.user_index_name {
  font-size: 25px;
  font-family: serif;
}

.user_table  {
  font-size: 15px;
  font-family: serif;
}

.user_table .edit {
  font-size: 12px;
  font-family: serif;
}

.user_table .head {
  font-size: 20px;
  font-family: serif;
}

.user_table .body {
  font-size: 15px;
  font-family: serif;
}

.paginate {
  font-size: 15px;
  font-family: serif;
  text-align: center;
}

.name {
  font-size: 15px;
  font-family: serif;
}

div.field_with_errors {
  background-color: #fcc;
  padding: 2px;
}

.mylist {
  font-size: 30px;
  font-family: serif;
}

.mylist_table {
  font-size: 15px;
  font-family: serif;
}

.error {
  color: red;
}